* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: lightgray;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 640px;
}

.video {
    width: 100%;
}

.controller {
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;

    display: none;
    justify-content: center;
    align-items: flex-end;
}

.buttons {
    background-color: hsla(240, 100%, 50%, 0.25);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
}

.material-icons,
.material-icons-outlined {
    user-select: none;
    cursor: pointer;
    color: white;
    font-size: 50px;
    padding: 10px;
}
